<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ibatis.mapper.TestMapper">
    <cache-ref namespace="com.ibatis.mapper.TestMapper"/>
    <resultMap id="BaseResultMap" type="com.ibatis.entity.po.Test">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="param" property="param" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime" jdbcType="TIMESTAMP"/>
        <result column="is_delete" property="isDelete" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, param, create_time, update_time, is_delete
    </sql>
    <sql id="Base_Table_Name">
        test
    </sql>
    <update id="selfUpdateById" parameterType="com.ibatis.entity.po.Test">
        UPDATE
        <include refid="Base_Table_Name"/>
        SET
        <if test="param != null">
            param = #{param, jdbcType=VARCHAR}
        </if>
        WHERE id = #{id, jdbcType=BIGINT}
    </update>
    <select id="selfSelectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT
        <include refid="Base_Column_List"/>
        FROM
        <include refid="Base_Table_Name"/>
        WHERE id = #{id, jdbcType=BIGINT}
    </select>
</mapper>